/* Estilo general del cuerpo */
body {
    padding-top: 0;
    background-color: #000000;
}

/* Estilo de la barra de navegación */
.navbar {
    background: rgba(4, 184, 255, 0.171); 
    display: flex;
    justify-content: space-between;
    padding: 0 10em !important; 
}

.navbar-light .navbar-brand {
    color: #f8faf9; 
    display: flex;
    align-items: center;
}

.navbar-light .navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; 
}

.navbar-light .navbar-nav .nav-item {
    margin-left: 20px; 
}

.navbar-light .navbar-nav .nav-link {
    color: #f8faf9; 
}

/* Estilo de la imagen de la sección hero */
.hero-image img {
    width: 100%;
    height: 100vh; /* Ocupa toda la altura del viewport */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
}

/* Estilo del carrusel */
.carousel {
    margin-top: 0;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100vh; /* Ocupa toda la altura del viewport */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
}

/* Estilo del contenedor del logo */
.contlogo {
    display: flex;
    width: 100%;
    height: 17%;
    background-color: #0CC9EF;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

/* Estilo de los títulos */
.titulo {
    font-size: 50px;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

/* Estilo del pie de página */
footer {
    background: #0CC9EF;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.footer-icons {
    display: flex;
}

.footer-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 1.5em;
}

.footer-content {
    padding: 1em;
}

/* Estilo de las tarjetas */
.card {
    background: #0CC9EF;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Estilo del icono de la barra de navegación */
.v_icon {
    width: 30px;
}

.btn {
    margin-bottom: 2em;
}

